# Data
data/processed/
data/raw/*.csv
data/raw/*.txt
data/raw/*.arff

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.env/

# Models & arrays
*.pkl
*.joblib
*.h5
*.pt
*.ckpt
*.npy
*.npz

# Results
results/

# OS
.DS_Store
Thumbs.db
